<div class="caja">
  <div class="header">
    <h2>{{name}}</h2>
  </div>
  <div class="body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, felis quis feugiat dignissim, massa metus placerat ante, ac euismod quam ante ut ante. Suspendisse ut nisi vel lorem commodo posuere sit amet ut mauris. In a turpis lacus. Aenean posuere fermentum metus, quis lobortis est lacinia eu. Vestibulum vehicula malesuada ipsum, sed feugiat nulla malesuada eget. Quisque viverra et ex ut imperdiet. Ut facilisis ante a nulla scelerisque, non lobortis mi convallis. Ut auctor eu nulla et accumsan. Quisque vel congue felis, sed consequat lacus. Nullam imperdiet sodales quam et dignissim. Sed vehicula ex quis nulla egestas, vel tristique magna auctor. Maecenas ultricies sodales felis id iaculis. Aliquam congue nulla vel ante convallis, at feugiat mi condimentum. Nunc fermentum gravida felis nec porttitor. Pellentesque convallis varius augue a molestie. Maecenas accumsan enim a blandit dapibus.
  </div>
</div>